<!doctype html>
<title>好きな作品を挙げてくメモ</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" type="text/css">
<link rel=stylesheet href="{{ url_for('static', filename='style.css') }}">

<div class="container">
    <nav class="navbar navbar-expand-lgnavbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('show_entries') }}">好きな作品を挙げてくメモ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id-"navbarNav">
            <ul class="nav navbar-navnavbar-right">
                <! カッコパーセント を使うことで条件分を使える、カッコで囲むことでサーバから渡された変数を表示することができる>
                {% if not session.logged_in %}
                <! ログイン>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">ログイン</a>
                </li>
                {% else %}
                <! 新規投稿>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('new_entry') }}">新規投稿</a>
                </li>       
                <! ログアウト>         
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">ログアウト</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <! flashの表示 get_flashed_messages()>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    <div>
    {% endfor %}

    <div class="blog-body">
        <! 上書き可能な部分>
        {% block body %}{% endblock %}
    </div>
</div>